# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
venv/
.env
.env.*
pip-wheel-metadata/
.pytest_cache/
.cache/

# Artifacts
artifacts/
reports/
*.pdf
*.json

# OS
.DS_Store
Thumbs.db
